{% extends "djbraintree/base.html" %}

{% block title %}Payment History{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <ul class="breadcrumb">
            <li><a href="{% url 'djbraintree:account' %}">Home</a></li>
            <li class="active">Payment History</li>
        </ul>
        {% include "djbraintree/includes/_history_table.html" %}
    </div>
</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script>
    $(function() {
        $.post("{% url 'djbraintree:sync_history' %}", function(data) {
            $('#history-table').html(data);
            $('.in-progress-gif').hide();
        });
    });
</script>
{% endblock javascript %}
